body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
}

.logo img {
    width: 150px;
    height: 150px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
}

.description {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
}